In [ ]:
# Set up packages for lecture. Don't worry about understanding this code,
# but make sure to run it if you're following along.
import numpy as np
import babypandas as bpd
import pandas as pd
from matplotlib_inline.backend_inline import set_matplotlib_formats
import matplotlib.pyplot as plt
set_matplotlib_formats("svg")
plt.style.use('ggplot')

np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.set_option("display.max_rows", 7)
pd.set_option("display.max_columns", 8)
pd.set_option("display.precision", 2)

from IPython.display import display, IFrame

def merging_animation():
    src="https://docs.google.com/presentation/d/e/2PACX-1vSk2FfJ4K_An_CQwcN_Yu5unpJckOZjVQDFqZ78ZTTMmowUsCQKKVnum0_m6TaiGquQ44E3FiS9g2Y4/embed?start=false&loop=false&delayms=60000&rm=minimal"
    width=825
    height=500
    display(IFrame(src, width, height))

# Lecture 9 – Grouping on Multiple Columns, Merging

## DSC 10, Fall 2023

### Announcements
    
- Lab 2 is due on **Thursday at 11:59PM**.
- Homework 2 is due on **Saturday at 11:59PM**.
- Come to office hours for help on assignments or to talk about your quiz performance! The schedule is [here](https://dsc10.com/calendar).
- The Midterm Project will be released this weekend.
    - You can work with a partner from any lecture section, but if you do, you must follow these [project partner guidelines](https://dsc10.com/project-partners/). 
    - We will hold a mixer on **Friday from 2-3PM on the [HDSI](https://map.concept3d.com/?id=1005#!m/246301) Patio** to help you find a partner if you don't have one.

### Agenda

- Grouping on multiple columns.
- Merging.

## Grouping on multiple columns

### DSC 10 student data

In [ ]:
roster = bpd.read_csv('data/roster-anon.csv')
roster

Recall, last class, we extracted the first name of each student in the class.

In [ ]:
def first_name(full_name):
    '''Returns the first name given a full name.'''
    return full_name.split(' ')[0]

In [ ]:
roster = roster.assign(
    first=roster.get('name').apply(first_name)
)
roster

### How many students named Kevin are in each section?

We discovered that Kevin is the most popular first name overall.

In [ ]:
name_counts = (
    roster
    .groupby('first')
    .count()
    .sort_values('name', ascending=False)
    .get(['name'])
)
name_counts

To find the number of `'Kevin'`s in each lecture section, we can query for only the rows corresponding to `'Kevin'`s, and then group by `'section'`.

In [ ]:
roster[roster.get('first') == 'Kevin'].groupby('section').count()

But what if we want to know the number of `'Victoria'`s and `'Ethan'`s per section, too?

In [ ]:
roster[roster.get('first') == 'Victoria'].groupby('section').count()

In [ ]:
roster[roster.get('first') == 'Ethan'].groupby('section').count()

Is there a way to do this **for all first names and sections** all at once?

### How many students with each first name does each lecture section have?

- Right now, we can count the number of students with each first name, by grouping `roster` by `'first'`.

In [ ]:
# One row per unique first name.
roster.groupby('first').count().get('name')

- We can also count the number of students in each lecture section, by grouping `roster` by `'section'`.

In [ ]:
# One row per unique section.
roster.groupby('section').count().get('name')

- However, neither of the above Series give us the number of students **with each first name** **in each section**.
    - For instance, neither result tells me the number of `'Kevin'`s in the 9AM section or the number of `'Victoria'`s in the 1PM section.

- It would be nice if we could group by both `'first'` **and** `'section'` – and we can!

### Grouping on multiple columns

In [ ]:
roster

We can pass a list of column names to `.groupby`!

In [ ]:
roster.groupby(['section', 'first']).count()

The above DataFrame is telling us, for instance, that there is 1 student with the first name `'Aadit'` in the 10AM section.

It is **not** saying that there is only one `'Aadit'`s in the course overall. There could be more in the other sections.

### Grouping on multiple columns

- To group on multiple columns, pass a **list** of column names to `.groupby`:

<br>

<center><code>df.groupby(['col_1', 'col_2', ..., 'col_k'])</code></center>

- Group by `'col_1'` first. **Within each group**, group by `'col_2'`, and so on.

- **Important: The resulting DataFrame has one row per unique combination of entries in the specified columns.**
    - On the previous slide, we had exactly one row for every combination of `'section'` and `'first'`.

- Formally, when we group on multiple columns, we are creating _subgroups_ – that is, **groups within groups**.
    - On the previous slide, we first grouped by `'section'`, and within each section, we grouped by `'first'`.

### Notice the index... 🤔

- This is called a "[MultiIndex](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html)".
    - The DataFrame is indexed by `'section'` **and** `'first'`.
- We won't worry about the details of MultiIndexes.
- We can use `.reset_index()` to "flatten" our DataFrame back to normal.

In [ ]:
roster.groupby(['section', 'first']).count().reset_index()

### Does order matter?

In [ ]:
roster.groupby(['section', 'first']).count().reset_index()

In [ ]:
roster.groupby(['first', 'section']).count().reset_index()

**Answer**: Kind of. The order of the rows and columns will be different, but the content will be the same.

### Activity

Using `counts`, find the lecture section with the most `'Kevin'`s.

<details>
<summary>✅ Click <b>here</b> to see the solution <b>after</b> you've tried it yourself.</summary>
    
<pre>

kevin_counts = counts[counts.get('first') == 'Kevin']
kevin_counts.sort_values('name', ascending=False).get('section').iloc[0]

</pre>
    
</details>

In [ ]:
counts = roster.groupby(['section', 'first']).count().reset_index()
counts

In [ ]:
...

### Activity

Using `counts`, find the shortest first name in the class that is shared by at least two students in the same section.

<details>
<summary>✅ Click <b>here</b> to see the solution <b>after</b> you've tried it yourself.</summary>
    
<pre>

with_len = counts.assign(length=counts.get('first').apply(len))
with_len[with_len.get('name') >= 2].sort_values('length')

# Turns out there are many possible answers: Eric, Ryan, Evan and John.

</pre>
    
</details>

In [ ]:
...

### Example: Sea temperatures 🌊

[This dataset](https://library.ucsd.edu/dc/object/bb4003017c) contains the sea surface temperature in La Jolla, on many days ranging from August 22, 1916 to March 31, 2023.

In [ ]:
sea_temp = bpd.read_csv('data/sea_temp.csv')
sea_temp

### Concept Check ✅ – Answer at [cc.dsc10.com](http://cc.dsc10.com) 

We want to find the single month (e.g. November 1998) with the highest average `'SURFACE_TEMP'`.

Which of the following would help us achieve this goal?

A. `sea_temp.groupby('SURFACE_TEMP').mean()`

B. `sea_temp.groupby('MONTH').mean()`

C. `sea_temp.groupby(['YEAR', 'MONTH']).mean()`

D. `sea_temp.groupby(['MONTH', 'DAY']).mean()`

E. `sea_temp.groupby(['MONTH', 'SURFACE_TEMP']).mean()`

In [ ]:
...

### Plots of monthly and yearly average surface temperature 📈

In [ ]:
(sea_temp
 .groupby('MONTH') 
 .mean() 
 .plot(kind='line', y='SURFACE_TEMP')
);

In [ ]:
# Why is there a sudden drop at the end? Look at the dates of data collection!
(sea_temp
 .groupby('YEAR') 
 .mean() 
 .plot(kind='line', y='SURFACE_TEMP')
);

### Summary: Grouping on multiple columns

- Pass a list of columns to `.groupby` to group on multiple columns. This creates groups within groups.
- Use `.reset_index()` after grouping on multiple columns to move the MultiIndex back to the columns.

## Merging 🚙

In [ ]:
phones = bpd.DataFrame().assign(
    Model=['iPhone 13', 'iPhone 13 Pro Max', 'Samsung Galaxy Z Flip', 'Pixel 5a'],
    Price=[799, 1099, 999, 449],
    Screen=[6.1, 6.7, 6.7, 6.3]
)

inventory = bpd.DataFrame().assign(
    Handset=['iPhone 13 Pro Max', 'iPhone 13', 'Pixel 5a', 'iPhone 13'],
    Units=[50, 40, 10, 100],
    Store=['Westfield UTC', 'Westfield UTC', 'Fashion Valley', 'Downtown']
)

### Example: Phone sales 📱

In [ ]:
# Phones on the market right now.
phones

In [ ]:
# Which phones my stores have in stock in the area.
inventory

- **Question**: If I sell all of the phones in my inventory, how much will I make in revenue?

- **Issue**: The information I need to answer the question is spread across multiple DataFrames.

### If I sell all of the phones in my inventory, how much will I make in revenue?

In [ ]:
phones.merge(inventory, left_on='Model', right_on='Handset')

### What just happened!? 🤯

In [ ]:
# Click through the presentation that appears.
merging_animation()

### `.merge`

To "merge" two DataFrames:
- Pick a "left" and "right" DataFrame.
- Choose a column from each to "merge on".
```py
left_df.merge(
    right_df, 
    left_on='left_col_name',
    right_on='right_col_name'
)
```
- `left_on` and `right_on` should be column names (they don't have to be the same).
- The resulting DataFrame contains a single row for every match between the two columns.
- Rows in either DataFrame without a match disappear!

### If I sell all of the phones in my inventory, how much will I make in revenue?

In [ ]:
phones

In [ ]:
inventory

In [ ]:
# Notice there's no Samsung Galaxy Z Flip in phones_merged!
phones_merged = phones.merge(inventory, left_on='Model', right_on='Handset')
phones_merged

In [ ]:
(phones_merged.get('Price') * phones_merged.get('Units')).sum()

### Does it matter which DataFrame is the left or right DataFrame? 🤔

In [ ]:
phones.merge(inventory, left_on='Model', right_on='Handset')

In [ ]:
inventory.merge(phones, left_on='Handset', right_on='Model')

**Answer**: The order of the rows and columns will be different, but the content will be the same.

### Special cases

#### What if the names of the columns we want to merge on are both the same?

Instead of using `left_on='col'` and `right_on='col'`, you can just say `on='col'`.

In [ ]:
phones

In [ ]:
inventory_relabeled = inventory.assign(Model=inventory.get('Handset')).drop(columns=['Handset'])
inventory_relabeled

In this example, the column we want to merge on in both DataFrames is named `'Model'`, so we can just use `on='Model'`.

In [ ]:
phones.merge(inventory_relabeled, on='Model')

**Notice**: There's only one column containing phone names now.

#### What if we want to merge using an index instead of a column?

Instead of using `left_on` or `right_on`, use `left_index=True` or `right_index=True`.

In [ ]:
phones

In [ ]:
inventory_by_handset = inventory.set_index('Handset')
inventory_by_handset

In this example, we want to merge using the `'Model'` column in the  left DataFrame (`phones`) and the index in the right DataFrame (`inventory_by_handset`); note that `'Handset'` is not a column in the right DataFrame anymore.

In [ ]:
phones.merge(inventory_by_handset, left_on='Model', right_index=True)

### Activity setup

In [ ]:
nice_weather_cities = bpd.DataFrame().assign(
    city=['La Jolla', 'San Diego', 'Austin', 'Los Angeles'],
    state=['California', 'California', 'Texas', 'California'],
    today_high_temp=['79', '83', '87', '87']
    
)

schools = bpd.DataFrame().assign(
    name=['UCSD', 'University of Chicago', 'University of San Diego','Johns Hopkins University', 'UT Austin', 'SDSU', 'UCLA'], 
    city=['La Jolla', 'Chicago', 'San Diego', 'Baltimore', 'Austin', 'San Diego', 'Los Angeles'],
    state=['California', 'Illinois', 'California', 'Maryland', 'Texas', 'California', 'California'],
    graduation_rate=[0.87, 0.94, 0.78, 0.92, 0.81, 0.83, 0.91 ]
)

### Concept Check ✅ – Answer at [cc.dsc10.com](http://cc.dsc10.com) 

**Without writing code**, how many rows are in `nice_weather_cities.merge(schools, on='city')`?

    A. 4    B. 5    C. 6    D. 7    E. 8

In [ ]:
nice_weather_cities

In [ ]:
schools

### Followup activity

**Without writing code**, how many rows are in `nice_weather_cities.merge(schools, on='state')`?

In [ ]:
nice_weather_cities

In [ ]:
schools

In [ ]:
nice_weather_cities.merge(schools, on='state')

In [ ]:
nice_weather_cities.merge(schools, on='state').shape[0]

### More practice!

Here are related exam problems to help you practice merging:
- [Problem 5 from the Fall 2021 midterm](https://practice.dsc10.com/fa21-midterm/index.html#problem-5).
- [Problem 7 from the Fall 2022 midterm](https://practice.dsc10.com/fa22-midterm/index.html#problem-7).

## Summary, next time

### Summary

- To group on multiple columns, pass a list to `.groupby`.
    - The result has one row for every unique combination of elements in the specified columns.
- To combine information from multiple DataFrames, use `.merge`.
    - When using `.merge`, Python searches for a match between a specified column in each DataFrame and combines the rows with a match.
    - If there are no matches, the row disappears!

### Next time

- **`if`-statements**, to execute code only when certain conditions are met.
- **`for`-loops**, to repeat code many times.
- Both are foundational programming tools. 🛠